{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Conteúdo da Página Aqui -->
    <div id="carouselExampleIndicators" class="carousel slide" 
         data-ride="carousel" data-interval="4000" data-pause="hover">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'fotos/tema-2025.jpg' %}" class="d-block w-100" alt="Imagem 1">
            
          </div>

          <div class="carousel-item">
            <img src="{% static 'fotos/equipe-2.jpg' %}" class="d-block w-100" alt="Imagem 2">
            
          </div>

          <div class="carousel-item">
            <img src="{% static 'fotos/equipe-1.jpg' %}" class="d-block w-100" alt="Imagem 3">
            
          </div>

        </div>
    </div>

  
    <div class="container1">
      <div class="container3 py-5">
        <div class="container text-center">
          <h2 class="mb-4">{{ configuracao.titulo_video }}</h2>
          <div class="live-stream-container">
            <a href="{{ configuracao.link_youtube }}" target="_blank">
              <img src="{{ configuracao.get_imagem_url }}" alt="Assista a live" class="img-fluid rounded shadow mb-3" style="max-height: 400px;">
              <br>
              <button class="btn btn-danger mt-2">Assistir no YouTube</button>
            </a>
          </div>
        </div>
      </div>      
    </div>

    <div class="container2">
      <h1>DEVOCIONAL DA SEMANA</h1>
    </div>

    {% endblock %}