{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Segunda Igreja Batista em Casa Amarela{% endblock %}</title>
    
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- CSS Personalizado Modular -->
    <link rel="stylesheet" href="{% static 'styles/modular/main.css' %}">    

    {% block extra_css %}{% endblock %}

</head>
<body>

    <!-- Cabeçalho -->
    <header class="sticky-top">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'fotos/logo.png' %}" style="height: 70px; width: auto; margin-right: 10px;">
            </a>
            <a href="{% url 'index' %}" style="text-decoration: none; color: inherit;">
                <h5 style="font-size: 0.9em; font-weight: bold; font-family: 'Arial Rounded MT Bold', Arial, sans-serif,;">
                  SEGUNDA IGREJA<br>BATISTA EM CASA AMARELA
                </h5>
            </a>
        </div>
        <nav>
            <!-- Botão Hamburger para Mobile (será visível apenas em telas pequenas via CSS) -->
            <button class="menu-toggle" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nossaIgrejaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nossa Igreja
                    </a>
                    <div class="dropdown-menu dropdown-menu-shadow" aria-labelledby="nossaIgrejaDropdown">
                        <a class="dropdown-item" href="{% url 'historia' %}">História</a>
                        <a class="dropdown-item" href="{% url 'lideranca' %}">Liderança</a>
                        <a class="dropdown-item" href="{% url 'departamentos' %}">Departamentos</a>
                        <a class="dropdown-item" href="{% url 'congregacoes' %}">Congregações</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="agendaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Agenda
                    </a>
                    <div class="dropdown-menu" aria-labelledby="agendaDropdown">
                        <a class="dropdown-item" href="{% url 'agenda' %}">Agenda Semanal</a>
                        <a class="dropdown-item" href="#">EBD</a>
                        <a class="dropdown-item" href="#">Aulas de Música</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="podcastDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Podcast
                    </a>
                    <div class="dropdown-menu" aria-labelledby="podcastDropdown">
                        <a class="dropdown-item" href="https://youtube.com/playlist?list=PLkrOlM1LjMj9zNXqcBwkjMMZLU9fdSmOO" target="_blank">
                            <img src="{% static 'fotos/ícones/youtube.png' %}" alt="YouTube" class="icon">
                            YouTube
                        </a>
                        <a class="dropdown-item" href="https://open.spotify.com/show/5tvBiNseK0Q4GmfweuYtLP" target="_blank">
                            <img src="{% static 'fotos/ícones/spotify.png' %}" alt="Spotify" class="icon">
                            Spotify
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="contatoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contato
                    </a>
                    <div class="dropdown-menu" aria-labelledby="contatoDropdown">
                        <a class="dropdown-item" href="https://www.instagram.com/_2ibca/" target="_blank">
                            <img src="{% static 'fotos/ícones/instagram.png' %}" alt="Instagram" class="icon">
                            Instagram
                        </a>
                        <a class="dropdown-item" href="https://wa.me/message/YHZLZY6LT73HO1" target="_blank">
                            <img src="{% static 'fotos/ícones/whatsapp.png' %}" alt="WhatsApp" class="icon">
                            WhatsApp
                        </a>
                    </div>
                </li>                                              
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <h3>Gálatas 6. 2-10</h3>
                <p>² Levai as cargas uns dos outros, e assim cumprireis a lei de Cristo.</br>
                    ³ Porque, se alguém cuida ser alguma coisa, não sendo nada, engana-se a si mesmo.</br>
                    ⁴ Mas prove cada um a sua própria obra, e terá glória só em si mesmo, e não noutro.</br>
                    ⁵ Porque cada qual levará a sua própria carga.</br>
                    ⁶ E o que é instruído na palavra reparta de todos os seus bens com aquele que o instrui.</br>
                    ⁷ Não erreis: Deus não se deixa escarnecer; porque tudo o que o homem semear, isso também ceifará.</br>
                    ⁸ Porque o que semeia na sua carne, da carne ceifará a corrupção; mas o que semeia no Espírito,</br> 
                      do Espírito ceifará a vida eterna.</br>
                    ⁹ E não nos cansemos de fazer bem, porque a seu tempo ceifaremos, se não houvermos desfalecido.</br>
                    ¹⁰ Então, enquanto temos tempo, façamos bem a todos, mas principalmente aos domésticos da fé.</p>
                
                <div class="social-links">
                    <a href="https://www.instagram.com/_2ibca/" target="_blank"><img src="{% static '/fotos/ícones/instagram-preta.png' %}" alt="Instagram"></a>
                    <a href="https://www.youtube.com/@2IBCARECIFE " target="_blank"><img src="{% static '/fotos/ícones/youtube-preta.png' %}" alt="YouTube"></a>
                    <a href="https://wa.me/message/YHZLZY6LT73HO1" target="_blank"><img src="{% static '/fotos/ícones/whatsapp-preta.png' %}" alt="WhatsApp"></a>
                </div>
            </div>
            
            <div class="footer-endereco">
                <h4>Contato</h4>
                <ul>
                    <li><img src="{% static '/fotos/ícones/whatsapp-preta.png' %}" alt="WhatsApp" class="contato-icon"> (81) 90000-0000</li>
                    <li><img src="{% static '/fotos/ícones/telefone.png' %}" alt="Telefone" class="contato-icon"> (81) 90000-0000</li>
                    <li><img src="{% static '/fotos/ícones/email.png' %}" alt="Email" class="contato-icon"> contato@segundaigreja.org.br</li>
                    <li>
                        <a href="https://www.google.com/maps/search/?api=1&query=Rua+Santa+Izabel,+425+-+Recife,+PE" target="_blank" style="display: flex; align-items: center; color: inherit; text-decoration: none;">
                            <img src="{% static '/fotos/ícones/localizacao.png' %}" alt="Localização" class="contato-icon">
                            <span>Rua Santa Izabel, 425 - Casa Amarela, Recife - PE</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            
            
            <div class="footer-other">
                <h4>Other</h4>
                <ul>
                    <li><a href="http://127.0.0.1:8000/admin/" target="_blank">Painel de Controle</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
        
        <div class="spotify-component">
            <iframe src="https://open.spotify.com/embed/playlist/4s4pYRb5VFlQ2LqYtX5xhY? utm_source=generator&theme=0" 
                width="80%"
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media">
            </iframe>
        </div>
    </footer>

    <!-- Botão Fixo WhatsApp -->
    <a href="https://wa.me/message/YHZLZY6LT73HO1" class="whatsapp-float" target="_blank" aria-label="Fale conosco pelo WhatsApp">
        <img src="{% static 'fotos/ícones/whatsapp.png' %}" alt="WhatsApp">
    </a>

    <!-- JavaScript Bootstrap e personalizado -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="{% static 'js/2ibca.js' %}"></script> --> <!-- Comentado se não existir ou não for necessário -->
    <script src="{% static 'js/mobile-menu.js' %}"></script>

</body>
</html>
