{% extends 'base.html' %}
{% load static %}

{% block title %}Departamentos | Segunda Igreja Batista{% endblock %}

{% block content %}
<section class="py-5" style="background-color: #f8f9fa;">
    <div class="container text-center">
        <h1 class="mb-4"><strong> Nossos Departamentos </strong></h1>
        <img src="{% static 'fotos/desenho.jpg' %}" alt="Fachada da Igreja" class="img-fluid rounded shadow" style="max-height: 400px; object-fit: cover;">
    </div>
</section>

 <!-- Organograma -->
 <section class="py-5">
    <div class="container">
    <h2 class="mb-3">Organograma</h2>
    <p>O organograma da igreja é dividido em quatro grandes conselhos:</p>
    <ul>
        <li><strong> Conselho Administrativo </strong></li>
            <p>Este inclui a ação Pastoral, Diaconal, Secretaria, 
            Comissão de Finanças, Comissão de Patrimônio, Comissão de Assistência Espiritual aos membros, etc.
            </p>
        <li><strong> Conselho Missionário </strong></li>
            <p>Este inclui a coordenação geral pelo Pastor titular da igreja, como também: 
                A coordenação de intercessão missionária, a coordenação financeira, a parte de informação, 
                mobilização e despertamento missionário, a assistência aos obreiros e campos missionários, 
                a coordenação de evangelismo e discipulado local (equipes, projetos, grupos familiares 
                e evangelização de crianças), as Congregações e seus Obreiros, os campos transculturais 
                e os missionários, os seminaristas e o Curso Básico de Teologia.
            </p>
        <li><strong> Conselho de Educação Cristã </strong></li>
            <p>Divide-se em quatro importantes ministérios: </br>
                   Escola Bíblica Dominial; </br>
                   Ministério de Crescimento e Treinamento Cristão; </br>
                   Ministério de Música; </br>
                   Ministério com a família.</br>
                </br>
                •	A Escola Bíblica Dominical – Tem o seu funcionamento nos domingos pela manhã, suas classes são distribuídas por faixas etárias e outras por linha de interesse como: Classe para os novos decididos, Classe para os novos membros, Classe para casais, Classe para surdos. Este setor tem procurado desenvolver a fim de fornecer aos alunos da EBD a base bíblica para uma boa fundamentação na Palavra de Deus.</br>
                </br>
                •	O Ministério de Crescimento e Treinamento Cristão – Funciona em horários de interesse dos grupos que são distribuídos conforme suas faixas etárias. Tem a finalidade de atender algumas questões práticas da vida cristã e da comunhão entre os irmãos, visando o crescimento espiritual e proporcionando meios para que sejam treinados no serviço a Deus.</br>
                </br>
                •	O Ministério de Música – Responsável por conduzir cada membro e congregado da igreja a experiência do louvor a Deus, seja congregacional ou participando de algum grupo de louvor inspirativo. Este ministério incentiva o funcionamento dos corais – Coral oficial da igreja e corais, como: masculino, feminino, jovens, adolescentes, juniores e infantil. Respaldando com ensinamentos e apoio aos grupos de louvor e coreografia.  Também, temos funcionando um Curso Básico de Música com a finalidade de preparar músicos que tocam e cantam, dando o seu melhor para a adoração a Deus.</br>
                </br>
                •	O Ministério com a família – ainda é um ministério embrionário, em fase de estruturação, mas já temos uma classe na EBD, programações especiais, como: Simpósios, Encontro de casais,  Retiro de Casal, Programações comemorativas da família, Comemoração dos aniversariantes de casamento a cada trimestre, etc.</br>
                </br>
            </p>
        <li><strong> Conselho de Ação Social </strong></li>
    </ul>

    <p>              
        O Conselho de Ação Social tem a finalidade de envolver e mobilizar a igreja no compromisso do serviço cristão com a finalidade de alcançar tanto a comunidade interna (os domésticos da fé), como a comunidade externa. Este é dividido em alguns aspectos: beneficência as famílias carentes, a capacitação das pessoas para o auto-sustento, a socialização dos indivíduos através de palestras educativas e o quadro dos colaboradores voluntários, além dos projetos: “Culto de Natal Beneficente” e “Mão amiga”. Um setor em construção.
    </p>

    <p><strong>
        Cada um desses conselhos atua em áreas estratégicas para a gestão, 
        missão e crescimento espiritual da igreja.</strong>
    </p>

    </div>
 </section>

{% endblock %}
